# Директория виртуального окружения
venv/
.env

# Файлы временных данных
__pycache__/
*.py[cod]

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Пакеты
*.egg-info/
dist/
build/
*.egg

# Настройки IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Файлы конфигурации
*.sqlite3
*.db
